html {
    /* content stays responsive */
    box-sizing: border-box;
  }
  /* adding above property to all the elements by default */
  * {
    box-sizing: inherit;
  }

  nav {
    display: none;
  }
  .nav-toggle {
    visibility: hidden;
  }

  .nav-toggle:checked ~ nav {
    display: block;
  }
  .nav-toggle-label {
    display: block;
    position: relative;
    top: -10px;
  }
  img {
    width:100%;
  }
  @media screen and (min-width: 768px) {
    .nav-toggle {
      display: none;
    }
    .nav-toggle-label {
      display: none;
    }
    nav {
      display: block;
    }
  }
