:root {
  --primary-color: rgba(125, 51,18, 0.75);
  --overlay-color:rgba(76, 39, 20, 0.85);
  --menu-speed: 0.75s;
}
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  margin: 0 auto;
  max-width: 25em;
  width: 100%;
  line-height: 1.5rem;
  font-family: 'Sawarabi Gothic', sans-serif;
  background-color: #f2f2f2;
}

img {
    width: 100%;
}
footer {
  background-color: #EDCBB1;
  display:flex;
}

footer img {
  width: 20%;
}
