html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  max-width: 960px;
  min-width:320px;
  width: 100%;
  line-height: 1.5rem;
  font-family: 'Sawarabi Gothic', sans-serif;
}
header {
  background-color: #794739;
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}
body p {
  margin-left: 2px;
  margin-right: 2px;
}
.logo{
  width: 250px;
  padding: 0;
  margin: 0 auto;
}
nav.navigation {
  display: none;
}
nav.navigation.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color: #4C2714;
}
nav.navigation.active a {
  padding: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
.togglebox img {
  filter: invert(1);
}
img.menu.hide {
  display: none;
}
img.close{
  display: none;
}
img.close.show{
  display: flex;
}
main img{
  width:100%;
  height: 250px;
  object-fit: cover;
  margin: 0 auto;
}
main h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
.email {
  background-color: #EDCBB1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:.5rem 0;
  margin: 0 auto;
}
.email h2{
  color: #fff;
}
input[type=text]{
  width: 50%;
  height: 25px;
}
.email a {
  text-decoration: none;
  color: #fff;
  background-color: #794739;
  padding: .5rem 1rem;
  margin: .5rem;
  border-radius: 30px;
}
.email a:hover {
  background-color:#4C2714;
  transition: 0.4s ease;
}
.market {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  gap: .5rem;
}
.market h2 {
  grid-column: 1;
  grid-row: 1;
}
.market .product {
  background-color: #EDCBB1;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: .5rem;
  padding-left: .5rem;
  padding-right: .5rem;
}
.market .product img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  gap: 0;
}
.product a {
  text-decoration: none;
  color: #fff;
  background-color: #794739;
  border-radius: 30px;
  padding: 10px 15px 10px;
}
.product a:hover {
  background-color: #4C2714;
  transition: 0.4s ease;
}
h4 {
  font-weight: bold;
  font-size: 20px;
}
footer {
  text-align: center;
  background-color: #EDCBB1;
  display: flex;
  justify-content: center;
  margin:.5rem 0;
  gap:.5rem;
}
footer img{
  height: 40px;
  width: 40px;
  padding-top: .5rem;
}
footer p {
  font-weight: bold;
}

@media only screen and (min-width:765px){

  body {
    max-width:48em;
    min-width: 48em;
  }
  header {
    padding: 0 1.5rem;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .about-history{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap:.5rem;
  }
  .about-us p {
    padding-bottom: 7rem;
  }
  .glassmug {
    grid-column: 1;
    grid-row: 2;
  }
  .market{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .market h2 {
    grid-column: 1 / span 2;
  }
  .bean-types {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    grid-template-rows: .5fr 1fr 1fr 1fr 1fr;
    margin: 0 auto;
  }
  .bean-types h2{
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  .bean-types .beaninfo{
    grid-column: 2;
  }
  .bean-types img {
    grid-column: 1;
  }
  footer {
    width:100%;
  }
  @media only screen and (min-width:991px){

    body {
      max-width:1260px;
      width: 100%;
    }
    header {
    background-color: #794739;
    margin-bottom: .5rem;
  }
    .homebanner{
      width: 100%;
      height:400px;
      object-fit: cover;
    }
    nav.navigation {
      display: flex;
    }
    div.togglebox {
      display: none;
    }
    nav.navigation a {
      font-size: 16px;
      padding: 10px;
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      gap: .5rem;
    }
    main img {
      width: 100%;
      height: 400px;
      object-fit: cover;
      padding:0;
      margin: 0 auto;
    }
    .about-history{
      display: contents;
    }
    .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 400px 400px 400px;
      gap: .5rem;
    }
    .history{
      grid-column: 2;
      grid-row: 1;
    }
    .about-us{
      grid-column: 1;
      grid-row: 2;
      padding: 0;
    }
    .email {
      grid-column: 2;
      grid-row:2;
      width: 100%;
    }
    .email h2 {
      padding-bottom: 1rem;
    }
    .glassmug{
      grid-column: 1;
      grid-row:3;
    }
    .blackmug{
      grid-column: 2;
      grid-row:3;
    }
    .market {
      display : grid;
      grid-template-rows: 100px 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .market h2 {
      grid-column: 1/ span 3;
    }
    .bean-types{
      display: grid;
      grid-template-rows: .5fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
    .bean-types h2 {
      grid-column: 1/ span 2;
    }
    .bean {
      display: flex;
    }
    .bean img{
      height:150px;
      width:250px;
      object-fit: cover;
    }
    .top {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .bean-belt {
      display: flex;
      flex-direction: column-reverse;
    }
    }
  }
